/* GENERAL */

:root {
  --primario: #79089f;
  --secundario: #434343;
  --btn-color: #007bff;
  --blanco: #fff;
  --negro: #000;

  --navbar: #171717;
  --fondo: #242424;
  --seccion: #464646;
  --lila: #9b86f4;

  --fuentePrincipal: "Graduate", sans-serif;
}

body {
  font-family: var(--fuentePrincipal);
  color: rgb(251, 251, 251);
  background-color: var(--fondo);
  margin: 0;
  padding: 0;
}

/* HEADER */

/* Estilos generales para el encabezado */
.header-inicio {
  display: flex;
  justify-content: space-between; /* Espacio entre el título y el botón */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: #171717; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 1rem 3rem; /* Espaciado interno */
  min-height: 5vh;
}

/* Estilos para el título */
.header-inicio h1 {
  font-size: 1.4rem; /* Tamaño del texto */
  font-family: "Graduate", sans-serif; /* Fuente personalizada */
  color: var(--lila);
}

/* Estilos para la navegación */
.navegacion ul {
  display: flex; /* Muestra los elementos en fila */
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding de la lista */
  margin: 0; /* Elimina el margen de la lista */
}

/* Estilos para los elementos de la lista */
.navegacion li {
  margin: 0 1rem; /* Espaciado entre los botones */
}

/* Media Queries para hacer el encabezado responsivo */
@media (max-width: 768px) {
  .header-inicio {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .navegacion {
    width: 100%; /* Toma todo el ancho disponible */
    margin-top: 10px; /* Espacio entre el título y el menú */
  }

  .navegacion ul {
    flex-direction: column; /* Cambia a columna para el menú */
    align-items: center; /* Centra los elementos del menú */
  }

  .navegacion li {
    margin: 5px 0; /* Espacio vertical entre las categorías */
  }

  .header-inicio h1 {
    font-size: 1.5em; /* Tamaño de fuente más pequeño */
  }

  .cart-button {
    width: 100%; /* Botón ocupa todo el ancho en móviles */
    margin-top: 10px; /* Espacio entre el botón y el menú */
  }
}

/* MAIN */

.container {
  margin: 2rem;
}

.section-info {
  background-color: var(--seccion);
  border-radius: 0.5rem;
  padding: 2rem;
  min-height: 50vh;
}

/* Estilos generales para la sección */
.section-info {
  display: flex; /* Usar flexbox para organizar los elementos en fila */
  justify-content: space-between; /* Espaciado entre los divs */
  align-items: center; /* Centra verticalmente los elementos */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
  gap: 20px; /* Espaciado entre elementos */
}

/* Estilos para el div de texto */
.info-text {
  flex: 1; /* Permite que este div tome el espacio disponible */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el div de imagen */
.info-image {
  flex: 1; /* Permite que este div tome el espacio disponible */
  min-width: 300px; /* Ancho mínimo para el div de imagen */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Titulo */
.titulo-info {
  font-size: 2.3rem;
  color: var(--navbar);
  text-shadow: 0.2rem 0.2rem var(--lila);
}

/* Texto */
.texto-info {
  margin: 4rem;
}

/* Estilos para la imagen */
.info-image img {
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 50%; /* La imagen no excederá el 100% del ancho de su contenedor */
}

/* Media Queries para hacer la sección responsiva */
@media (max-width: 768px) {
  .section-info {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .info-text,
  .info-image {
    width: 100%; /* Ambos divs ocupan el 100% en pantallas pequeñas */
    min-width: 100%; /* Evita el ancho mínimo en pantallas pequeñas */
  }
}
